<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faceontalk.mapper.FeedMapper">


	<!-- tbl_feed left join tbl_member (feed.* + member.profile_pic) -->	
	<select id="listFollowersFeeds" resultType="FeedVO">
		select A.*,B.profile_pic 
			from 
		tbl_feed as A left join tbl_member as B on A.user_no_fk = B.user_no  
			where 
		(A.user_no_fk = #{user_no})				
				or 
		(A.user_no_fk in (select following from tbl_follow where follower = #{user_no} ))		
		order by feed_no desc		
		limit #{cri.pageStart},#{cri.perPageNum}
								
	</select>	
	
	<select id="listFollowersFeedCount" resultType="int">
		select count(feed_no) from tbl_feed 
			where 
		(user_no_fk = #{user_no} ) 
			or
		(user_no_fk in (select following from tbl_follow where follower = #{user_no} ) )
		order by feed_no desc	
	</select>
	
	
	<!-- feed list pics only user -->
	<select id="listUsersFeedPics" resultType="FeedVO">
		select feed_no,file_name 
			from
		tbl_feed
			where user_no_fk = #{user_no} order by feed_no desc 
	</select>
		
	<!-- 태그로 피드 찾기 -->
	<select id="listFeedsByTag" resultType="FeedVO">
		select A.*,B.profile_pic
			 from
		tbl_feed as A left join tbl_member as B on A.user_no_fk = B.user_no  
			where 
		feed_no in (select feed_no from tbl_tagFeedRelations where tag_id = #{tag_id})
		order by feed_no desc
		limit #{cri.pageStart},#{cri.perPageNum}
	</select>	
	
	<!-- 태그로 피드 갯수 새기 -->			
	<select id="listCountsByTagCount" resultType="int">
		select count(feed_no) from tbl_tagFeedRelations where tag_id = #{tag_id}
	</select>
	
	<!-- 모든 피드 -->
	<select id="listAllFeeds" resultType="FeedVO">
		select A.*,B.profile_pic
			 from
		tbl_feed as A left join tbl_member as B on A.user_no_fk = B.user_no
			order by feed_no desc limit #{pageStart},#{perPageNum}		
	</select>
	
	<select id="listAllFeedCount" resultType="int">
		select count(feed_no) from tbl_feed;
	</select>
	
	
	
		
	<!-- 피드 등록 -->
	<insert id="register">
	insert into tbl_feed
		(user_no_fk,user_id_fk,content,file_name)	
	values
		(#{user_no_fk}, #{user_id_fk}, #{content},#{file_name})	
	</insert>
	
	<!-- 조회 ( by feed_no) -->
	<select id="selectByFeedNum" resultType="FeedVO">
		select A.*,B.profile_pic 
			from 
		tbl_feed as A left join tbl_member as B on A.user_no_fk = B.user_no  
			where 
		A.feed_no = #{feed_no}		
	</select>
	
	<!-- 수정 -->
	<update id="update">
		update tbl_feed set
			content=#{content} ,moddate=now() , file_name = #{file_name}
		where
			feed_no=#{feed_no}
	</update>
	
	<!-- 수정(댓글 수 증가) -->
	<update id="updateReplyCount">
		update tbl_feed set
			reply_count = reply_count + #{delta}
		where
			feed_no = #{feed_no}
	</update>
	
	<!-- 피드 삭제 -->
	<delete id="remove">
		delete from tbl_feed where feed_no = #{feed_no}	
	</delete>
	

	<!-- 마지막에 삽입한 피드 번호 얻어오기 last_insert_id()는 커넥션마다 관리 have to retest -->	
	<select id="getLastInsertedFeed" resultType="FeedVO">
		select * from tbl_feed where feed_no = last_insert_id()		
	</select>
	
	<select id="getLastInsertedFeedNum" resultType="int">
		select feed_no from tbl_feed where feed_no = last_insert_id()
	</select>
	
	<!-- 댓글 수 증감  -->
	<update id="modifyReplyCount">
		update tbl_feed set reply_count = reply_count + #{delta} where feed_no = #{feed_no}	
	</update>
	
	
	<!-- // hash tag // -->	
	<!-- 해시 태그 등록 -->
	<insert id="registerTag">
		insert into tbl_tag (tag_name) values (#{tag_name})
	</insert>	
	
	<select id="selectTagByName" resultType="HashTagVO">
		select * from tbl_tag where tag_name = #{tag_name}
	</select>
	
	<select id="getLastInsertedTag" resultType="HashTagVO">
		select * from tbl_tag where tag_id = last_insert_id()	
	</select>
	
	<select id="selectTagsByFeedNum" resultType="HashTagVO">
		select * from tbl_tag where tag_id in(select tag_id from tbl_tagfeedrelations where feed_no = #{feed_no} )
	</select>
	
	
	<!-- 릴레이션 -->
	<!-- *******************<choose> 다르게 수정해보기**************** -->
	<insert id="registerRelation">
		insert into tbl_tagfeedrelations (feed_no,tag_id) values(#{feed_no}, #{tag_id})
	</insert>
	
	<delete id="removeRelation">
		delete from tbl_tagfeedrelations where feed_no = #{feed_no} 
		<if test="tag_id != null">
			and tag_id = #{tag_id}
		</if>		
	</delete>
	
	
</mapper>

