<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.mapper.MemberMapper">

	<select id="selectById" resultType="MemberVO">
		select * from tbl_member where user_id = #{user_id}	
	</select>
	
	<insert id="registerMember">
		insert 
			into 
		tbl_member 
			(user_no,user_id,user_password,user_name,user_email,user_phone,postcode_fk,address)		
		values
			(member_seq.nextval,#{user_id},#{user_password},#{user_name},#{user_email},#{user_phone},#{postcode_fk},#{address})
	</insert>
	
</mapper>