<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dogsound.persistence.SqlServerTestMapper">  
	<!-- insert -->	
	<insert id="insertOne">
		INSERT INTO test_table (
			string_col, boolean_col, short_col, integer_col, long_col,
			float_col, double_col, bigdecimal_col, timestamp_col 
		) values (
			#{stringCol,jdbcType=LONGVARCHAR}, #{booleanCol}, #{shortCol}, #{integerCol}, #{longCol},
			#{floatCol,jdbcType=FLOAT}, #{doubleCol,jdbcType=DOUBLE}, #{bigdecimalCol}, #{timestampCol}
		)		
	</insert>
	
	<insert id="insertMultiple">	
		INSERT
			INTO
		test_table(
			string_col, boolean_col, short_col, integer_col, long_col,
			float_col, double_col, bigdecimal_col, timestamp_col
		) values
		<foreach collection="list" item="item" separator="," >
			(
			#{item.stringCol,jdbcType=LONGVARCHAR}, #{item.booleanCol}, #{item.shortCol}, #{item.integerCol}, #{item.longCol},
			#{item.floatCol,jdbcType=FLOAT}, #{item.doubleCol,jdbcType=DOUBLE}, #{item.bigdecimalCol}, #{item.timestampCol}
		)
		</foreach>	
	</insert>	
</mapper>