<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faceontalk.mapper.FeedMapper">
	<!-- 피드리스트 + 페이지 처리 -->
	<select id="listSearch" resultType="FeedVO">
		select
			*
		from
			tbl_feed
		where 
			feed_no = 1		
		order by feed_no desc,regdate desc
		limit #{pageStart},#{perPageNum}
	</select>
		
	<!-- 피드 등록 -->
	<insert id="register">
	insert into tbl_feed
		(user_id_fk,user_name_fk,content,file_name)	
	values
		(#{user_id_fk}, #{user_name_fk}, #{content},#{file_name})	
	</insert>
	
	<!-- 조회 ( by feed_no) -->
	<select id="selectByFeedNum" resultType="FeedVO">
		select
			*
		from
			tbl_feed
		where 
			feed_no = #{feed_no}
	</select>
	
	<!-- 수정 -->
	<update id="update">
		update tbl_feed set
			content=#{content} ,moddate=now()
		where
			feed_no=#{feed_no}
	</update>
	
	
	<!-- 피드 삭제 -->
	<delete id="remove">
		delete from tbl_feed where feed_no = #{feed_no}	
	</delete>
	

	<!-- 마지막에 삽입한 피드 번호 얻어오기 last_insert_id()는 커넥션마다 관리 have to retest -->	
	<select id="getLastInsertedFeed" resultType="FeedVO">
		select * from tbl_feed where feed_no = last_insert_id()		
	</select>
	
	<select id="getLastInsertedFeedNum" resultType="int">
		select feed_no from tbl_feed where feed_no = last_insert_id()
	</select>
	
	<!-- // hash tag // -->	
	<!-- 해시 태그 등록 -->
	<insert id="registerTag">
		insert into tbl_tag (tag_name) values (#{tag_name})
	</insert>	
	
	<select id="selectTagByName" resultType="HashTagVO">
		select * from tbl_tag where tag_name = #{tag_name}
	</select>
	
	<select id="getLastInsertedTag" resultType="HashTagVO">
		select * from tbl_tag where tag_id = last_insert_id()	
	</select>
	
	<select id="selectTagsByFeedNum" resultType="HashTagVO">
		select * from tbl_tag where tag_id in(select tag_id from tbl_tagfeedrelations where feed_no = #{feed_no} )
	</select>
	
	
	<!-- 릴레이션 -->
	<!-- *******************<choose> 다르게 수정해보기**************** -->
	<insert id="registerRelation">
		insert into tbl_tagfeedrelations (feed_no,tag_id) values(#{feed_no}, #{tag_id})
	</insert>
	
	<delete id="removeRelation">
		delete from tbl_tagfeedrelations where feed_no = #{feed_no} and tag_id = #{tag_id}
	</delete>
	
	
</mapper>

