<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.faceontalk.mapper.MemberMapper">

	<!-- 회원 가입 -->
	<insert id="regist">
	insert into tbl_member 
		(user_id,user_email,password,phone)
	values
		(#{user_id},#{user_email},#{password},#{phone})
	</insert>
	
	<!-- 회원 찾기 by name -->
	<select id="searchById" resultType="MemberVO">
	select * from tbl_member
	where user_id = #{user_id}
	</select>
	
	<select id="searchByNum" resultType="MemberVO">
	select * from tbl_member
	where user_no = #{user_no}
	</select>
	
	<!-- 회원 정보 수정 -->
	<update id="update">
	update tbl_member set user_id=#{user_id}, password = #{password}, phone=#{phone}
	where user_no=#{user_no}	
	</update>
	
	<!-- 로그인 상태 유지 -->
	<update id="keepLogin"> 
		into tbl_member sessionkey = #{sessionId},sessionlimit = #{next} where user_no = #{user_no}
	</update>
	
	<select id="checkUserWithSessionKey" resultType="MemberVO">
	select * from tbl_user where
	sessionkey = #{value} and sessionlimit > now()
	</select>
	
	
	<!-- follower -->
	<insert id="registFollower">
		insert into tbl_follow (follower,following) values(#{follower},#{following})
	</insert>
	
	<delete id="removeFollower">
		delete from tbl_follow where follower = #{follower} and following = #{following}
	</delete>
	
	<select id="isFollow" resultType="int">
		select count(*) from tbl_follower where follower = #{follower} and following = #{following}
	</select>
	
	
	<!-- 이메일 인증 등록 -->
	<insert id="registerAuthToken">
	insert into tbl_email_auth
		(user_id,auth_token,auth_limit)
	values
		(#{user_id},#{auth_token},#{auth_limit})	
	</insert>
	
	<!-- 이메일 인증 정보 검색 -->
	<select id="getEmailAuth" resultType="EmailAuthVO">
		select * from tbl_email_auth where user_id=#{user_id} and auth_token=#{auth_token} and auth_limit > now()	
	</select>
	
	<!-- 멤버 계정 활성화 -->
	<update id="activate">
		update tbl_member set enabled=true where user_id = #{user_id}
	</update>
	
	
	<!-- 기간 지난 인증 삭제(멤버) -->
	<delete id="removeExpiredAuthMember">
		delete from tbl_member where user_id in
		(select user_id from tbl_email_auth where now() >= auth_limit)
	</delete>
	
	<!-- 기간 지난 인증 삭제(이메일) -->
	<delete id="removeExpiredAuthEmail">
		delete from tbl_email_auth where now() >= auth_limit
	</delete>
	

</mapper>