<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.faceontalk.mapper.ReplyMapper">

	<!-- list -->
	<select id="list" resultType="ReplyVO">
		select * from tbl_reply where feed_no_fk = #{feed_no_fk}		
		order by feed_no_fk desc
		<if test="pageStart != null">
			limit #{pageStart} , #{perPageNum}
		</if>		
	</select>
	
	<!-- register -->
	<insert id="register">
		insert into tbl_reply (feed_no_fk,replytext,user_id_fk)
		values(#{feed_no_fk},#{replytext},#{user_id_fk})
	</insert>
	
	<!-- modify -->
	<update id="modify">
		update tbl_reply set replytext=#{replytext} , moddate=now()
	</update>
	
	<!-- remove -->
	<delete id="remove">
		delete from tbl_reply where rno = #{rno}
	</delete>
	
	<!--  remove All -->
	<delete id="removeAll">
		delete from tbl_reply where feed_no_fk = #{feed_no}
	</delete>
	
	<!-- select feed_no by rno -->
	<select id="getFeedNumber" resultType="int">
		select feed_no_fk from tbl_reply where rno = #{rno}
	</select>
</mapper>