<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mypet.mapper.ReviewMapper">
	
	<!-- 리뷰 등록 -->
	<insert id="registerReview">
		insert into tbl_review
			(review_no,review_title,review_writer,review_content,product_no_fk,review_image)
		values
			(review_seq.nextval,#{review_title},#{review_writer},#{review_content},#{product_no_fk},
			#{review_image, jdbcType=VARCHAR})			
	</insert>
	
	<!-- 리뷰 불러오기 -->	
	<select id="readReview" resultType="ReviewVO">
		select * from tbl_review where review_no = #{review_no}	
				
	</select>
	
	<!-- 리뷰 수정 -->
	<update id="modifyReview" >
		update tbl_review set
		review_title =#{review_title}, review_content = #{review_content}, review_image = #{review_image}
		where review_no = #{review_no}		
	</update>
	
	<delete id="deleteReview">
		delete from tbl_review where review_no = #{review_no}
	</delete>
			
	<!-- 리뷰 리스트 페이징 처리 -->
	<!-- 리뷰 리스트 갯수 -->
	<select id="count" resultType="int">
		select
			count(review_no)
		from
			tbl_review
		where review_no > 0
	</select>
	
	<!-- 리뷰 리스트  -->
	<select id="listReview" resultType="ReviewVO">
	select * from (
			select tbl_review.review_no,tbl_review.review_title,row_number() over (order by review_no desc)R
			from tbl_review where review_no > 0 and product_no_fk = #{product_no_fk}
	) where R between #{cri.pageStart} and #{cri.pageLast}
	</select>
	
	
	
	
	<!-- 리뷰 리스트 -->
	<select id="listAllReview" resultType="ReviewVO">
		<![CDATA[
		select
			review_no, review_title, review_writer, review_content, product_no_fk, review_image, regdate, viewcnt
		from 
			tbl_review
		where review_no > 0
		order by review_no desc, regdate desc
		]]>
	</select>
	
	<!-- 리뷰 페이지 처리 부분 -->
	<select id="listPageReview" resultType="ReviewVO">
			<![CDATA[
			select
				review_no, review_title, review_writer, review_content, product_no_fk, review_image, regdate, viewcnt
			from 
				tbl_review
				where review_no > 0
			order by review_no desc, regdate desc
					between #{page},10
					
			]]>
	</select>
		
	<select id="listCriteriaReview" resultType="ReviewVO">
			<![CDATA[
			select
				review_no, review_title, review_writer, review_content, product_no_fk, review_image, regdate, viewcnt
			from 
				tbl_review
				where review_no > 0
			order by review_no desc, regdate desc
					between #{pageStart}, #{perPageNum}					
			]]>
	</select>
	<select id="countPagingReview" resultType="int">
	<![CDATA[
	select
		count(review_no)
	from
	 tbl_review
	where
		review_no > 0
	]]>
	
	</select>
	
	
	
	
	
</mapper>














